---
import MainLayout from "../layouts/MainLayout.astro";

// Server Only
const name = 'Erick Alan Briones Sánchez';
const title = 'Home Page';
---

<MainLayout title="Home Page">
	<h1>{name}</h1>
	
	<p>Momento actual: { new Date().toLocaleTimeString() }</p>
	<p id="currentTime"></p>
	
	<footer>Año 2023</footer>
	
	<script>
		// Client Only
		const currentYear: number = new Date().getFullYear();
		const currentTime: string = new Date().toLocaleTimeString();
	
		const footer = document.querySelector('footer') as HTMLElement;
		const currentTimeParagraph = document.querySelector('#currentTime') as HTMLParagraphElement;
		
		
		footer.innerText = `Current year: ${currentYear}`;
		currentTimeParagraph.innerText = `Momento actual real: ${currentTime}`;
	</script>
</MainLayout>
	